/* Coolors Exported Palette - coolors.co/7bdff2-1e152a-4e6766-f397d6-002d4c */

$color1: #7bdff2; //rgba(123, 223, 242, 100)
$color2: #1e152a; //rgba(30, 21, 42, 100)
$color3: #4e6766; //rgba(78, 103, 102, 100)
$color4: #f397d6; //rgba(243, 151, 214, 100)
$color5: #002d4c; //rgba(0, 45, 76, 100)